body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.with-margin {
  margin-bottom: 20px;
}

body {
/*  padding-top: 5rem;*/
  padding-bottom: 5rem;
}

.resa-grid-row {
  /*padding-top: 15px;*/
  padding-bottom: 3rem;
 /* background-color: rgba(86, 61, 124, .15);*/
  border: 1px solid rgba(37, 197, 16, 0.2);
}


/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}
.nav-text{
  color: rgba(0, 0, 0, 0.15); 
}